# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
# Editors & IDEs
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Temporary files
# -----------------------------------------------------------------------------

*.tmp
*.temp
*.bak
*.swp

# -----------------------------------------------------------------------------
# Python virtual environments
# -----------------------------------------------------------------------------

.venv/
# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
